span.select { font-family:Arial; font-size:13px; position:absolute; width:223px; height:15px; padding:6px 0 8px 13px; font-weight:bold; color:#fff; background:url(/source/images/find_per_sel.jpg) no-repeat; overflow:hidden; top:0;}

select.styled {
	width: 235px;
	padding:6px 0 8px 13px;
}
select.styled_ { position:relative; width:235px; padding:6px 0 4px 13px; opacity:0; filter:alpha(opacity=0); z-index:5;}
