* {margin:0; padding:0;}
*:focus {outline: none;}
ul li {list-style-type:none;}
ol li {list-style-position:inside;}
a {text-decoration: none; border:none;}
a, a:hover, a:active, img { outline:none;}
table, tr, td { margin:0; padding:0; border:none; border-collapse:collapse;}
input, select, textarea {vertical-align:middle;}
textarea { overflow:auto; }
img { border:none; display:block;}
.clearfix:after {content:""; display:block; height:0px; clear:both; visibility:hidden;}
body { background:#000; font-size:12px; font-family:"Droid Sans";-webkit-text-size-adjust:auto;}

/* container */
.container { width:1042px; margin:0 auto; position:relative;}

	/* header */
	.header { position:relative; }
	.header .logo { width:415px; padding:23px 0 17px 50px;}
	.header .logo a { }
	.header .logo a img { }

		/* navigation */
		.nav { background:url(/source/images/nav-bg.jpg) repeat-x; font-weight:bold;}
		
		.nav ul { float:left; width:627px;}
		.nav .loginUl {width:660px;}
		.nav ul li { float:left; text-transform:uppercase; height:27px; padding:11px 9px 0 9px; background:url(/source/images/nav-sep.gif) no-repeat right; z-index:3;}
		.nav ul .fLike {padding-top:8px;}
		.nav ul li a { color:#000; text-shadow:#fff 1px 1px 1px; cursor:pointer;}
		.nav ul li a:hover { color:#a20d12;}
		.nav ul li a.active { color:#a20d12;}
		.nav ul li a img { float:left; position:relative; top:-2px;}
	/* Sub menu */
		.nav ul li ul { display:none; position:absolute; top:37px; left:0; padding:0 10px; width:175px; background:#bbbbbb; z-index:1; border-right:1px solid #6e6e6e; border-bottom:1px solid #6e6e6e; z-index:2;}
		.nav ul li ul li { clear:both; background:none; float:none; padding:0; height:auto; border-top:1px solid #a09494;}
		.nav ul li ul li:first-child { border-top:none;}
		.nav ul li ul li a { display:block; padding:5px 0 5px 0; text-shadow:#fff 1px 1px 1px;}
		.nav ul li ul li a:hover { text-shadow:none; color:#333;}
		.nav ul li ul li span { }
		
		.nav form { width:310px; float:right; background:url(/source/images/nav-form-bg.gif) no-repeat left top; height:37px;}
		.nav form div { float:right; padding:9px 8px 0 0;}
		.nav form div label { color:#000; text-shadow:#fff 1px 1px 1px; text-transform:uppercase; font-size:13px; margin:0 11px 0 0;}
		.nav form div .inp { border:1px solid #86888b; width:79px; font-size:12px; color:#575a60; padding:3px 5px; height:13px;}
		.nav form div .inp.passhide { display:none;}
		.nav form div .btn { margin:-2px 0 0 0;}
		
		.nav .login { float:right; background:url(/source/images/nav-form-bg.gif) no-repeat left top; height:37px;}
		/*.nav .login div { padding:8px 16px 0 0; width:235px; font-weight:normal; font-size:16px; text-align:right;}*/
		.nav .login div { padding:8px 16px 0 0; width:215px; font-weight:normal; font-size:16px; text-align:right;}
		.nav .login div a { color:#ed1c24; border-bottom:1px dotted #ed1c24;}
		.nav .login div a:hover { border-bottom:none;}
		
		/* search */
		.search { width:240px; height:52px; background:url(/source/images/search-bg.gif) no-repeat; position:absolute; top:0; right:50px;}
		.search form { }
		.search form div { padding:16px 0 0 17px;}
		.search form div .inp { border:1px solid #86888b; width:170px; font-size:12px; color:#575a60; padding:3px 5px;}
		.search form div .btn { margin:-2px 0 0 3px;}
		
	/* content */
	.content { padding:0 0 35px 0;}
		/* main page */
		.main {}
		.main .products { padding:32px 0 0 0; width:940px; margin:0 auto;}
		.main .products .prod { float:left; font-size:14px; padding:0 0 0 19px; width:300px;}
		.main .products .prod:first-child { padding:0;}
		.main .products .prod img { }
		.main .products .prod a { color:#fff; text-decoration:underline;}
		.main .products .prod a:hover { text-decoration:none;}
		.main .products .about_alw { float:left; min-height: 168px; z-index:2; width:207px; padding:0 95px 0 19px; background:url(/source/images/circul.jpg) no-repeat right top;}
		.main .products .about_alw .h { padding:5px 0 10px 0;}
		.main .products .about_alw .text { color:#fff; font-size:13px; line-height:14px;}
		.main .products .about_alw .more { cursor:pointer; padding:16px 0 0 0;}
		
		/* products_home */
		.products_home { }
		.products_home .prod_phot { font-size:16px;}
		.products_home .prod_phot ul { padding:7px 0 0 0;}
		.products_home .prod_phot ul li { float:left; width:226px; padding:0 0 0 7px;}
		.products_home .prod_phot ul li a { display:block; width:226px; height:160px; position:relative; border:1px solid #767779; color:#fff;}
		.products_home .prod_phot ul li a:hover { }
		.products_home .prod_phot ul li a.active { }
		.products_home .prod_phot ul li a img.span_bg2 { display:none; position:absolute; bottom:-14px; left:0;}
		.products_home .prod_phot ul li a:hover img.span_bg2 { display:block;}
		.products_home .prod_phot ul li a.active img.span_bg2 { display:block;}
		.products_home .prod_phot ul li a img { width:226px;}
		.products_home .prod_phot ul li a img.shadow1 { position:absolute; top:0; left:0;}
		.products_home .prod_phot ul li a span { display:block; width:100%; height:25px; padding:7px 0 0 0; position:absolute; bottom:0; left:0; background:url(/source/images/prod_home/shadow2.png) no-repeat;}
		.products_home .prod_phot ul li a span img { width:21px; float:left; padding:0 15px 0 10px; position:relative;}
		
		.products_home .preview { }
		.products_home .preview .prod { float:left; padding:15px 22px;}
		.products_home .preview .prod .h { color:#c2181e; font-size:18px; padding:0 0 10px 0;}
		.products_home .preview .proj { background:url(/source/images/slider_line.jpg) no-repeat 0 29px;}
		.products_home .preview .slider { width:426px; height:339px; position:relative; background:url(/source/images/main-img-prev-corner.gif) no-repeat bottom right;}
		.products_home .preview .slider .h { }
		.products_home .preview .slider .prev { position:absolute; top:0; left:0; height:339px; width:426px;}
		.products_home .preview .slider .prev img { position:absolute; top:0; left:0; width:426px;}
		.products_home .preview .slider .checker { width:426px; height:41px; position:absolute; bottom:1px; right:-1px; background:url(/source/images/checker-bg.png) no-repeat;}
		.products_home .preview .slider .checker .tous {}
		.products_home .preview .slider .checker .tous ul { float:right; padding:0 11px 0 0;}
		.products_home .preview .slider .checker .tous ul li { float:left; padding:13px 2px 0 2px;}
		.products_home .preview .slider .checker .tous ul li a { display:block; width:16px; height:16px; background:url(/source/images/tous.jpg) 0 -32px;}
		.products_home .preview .slider .checker .tous ul li span { color:#fff; margin:0 30px 0 0;}
		.products_home .preview .slider .checker .tous ul li a:hover { background-position:0 -48px;}
		.products_home .preview .slider .checker .tous ul li a:active { background-position:0 -16px;}
		.products_home .preview .slider .checker .tous ul li a.active { background-position:0 -16px; cursor:default;}
		
		/* products category */
		.products_category { }
		.products_category .prod_phot { font-size:16px;}
		.products_category .prod_phot ul { padding:7px 0 0 0;}
		.products_category .prod_phot ul li { float:left; width:226px; padding:0 0 0 7px;}
		.products_category .prod_phot ul li a { display:block; width:226px; height:160px; position:relative; border:1px solid #767779; color:#fff;}
		.products_category .prod_phot ul li a.active { }
		.products_category .prod_phot ul li a img { width:226px;}
		.products_category .prod_phot ul li a img.span_bg2 { display:none; position:absolute; bottom:-14px; left:0;}
		.products_category .prod_phot ul li a:hover img.span_bg2 { display:block;}
		.products_category .prod_phot ul li a.active img.span_bg2 { display:block;}
		.products_category .prod_phot ul li a img.shadow1 { position:absolute; top:0; left:0;}
		.products_category .prod_phot ul li a span { display:block; width:100%; height:25px; padding:7px 0 0 0; position:absolute; bottom:0; left:0; background:url(/source/images/prod_home/shadow2.png) no-repeat;}
		.products_category .prod_phot ul li a span img { width:21px; float:left; padding:0 15px 0 10px; position:relative;}
		
		.products_category .prods { text-align:center; font-size:16px; padding:10px 0 0 0;}
		.products_category .prods div { float:left; width:188px; padding:0 0 31px 0; height:152px; position:relative;}
		.products_category .prods img { margin:0 auto; padding:0 0 10px 0;}
		.products_category .prods div .q { position:absolute; top:0; left:31px; width:125px; opacity:0.5;}
		.products_category .prods a { color:#fff; text-decoration:underline;}
		.products_category .prods a:hover { text-decoration:none;}
		
		/* products detail */
		.prod_detail { }
		.prod_detail .phots { width:451px; padding:15px 0 0 20px; margin:0 20px 0 0; float:left;}
		.prod_detail .descr { padding:15px 0 0 0; color:#fff; float:left; width:425px;}
		.prod_detail .descr h1 { font-size:18px; font-weight:normal;}
		.prod_detail .descr h2 { font-size:16px; color:#a6a6a6; font-weight:normal; padding:0 0 20px 0;}
		.prod_detail .descr a { display:block; font-weight:bold; color:#fff;}
		.prod_detail .descr a.pdf { font-size:13px; width:212px; background:url(/source/images/a_pdf.jpg) no-repeat; padding:6px 0 8px 43px; margin:0 0 14px 0;}
		.prod_detail .descr a.btn { font-size:13px; width:212px; background:url(/source/images/btn.jpg) no-repeat; padding:6px 0 8px 34px; margin:0 0 14px 9px;}
		.prod_detail .descr a.arr { margin:5px 0 14px 6px; float:left;}
		.prod_detail .descr form { float:left;}
		.prod_detail .descr form div { position:relative;}
		
		.prod_detail .phots .slider { height:450px; position:relative;}
		.prod_detail .phots .slider .prev { position:absolute; top:0; left:0; width:451px; height:450px;}
		.prod_detail .phots .slider .prev img { position:absolute; top:0; left:0; width:451px; cursor:pointer;}
		.prod_detail .phots .slider .checker { width:451px; height:41px; position:absolute; bottom:1px; right:-1px;}
		.prod_detail .phots .slider .checker .tous {}
		.prod_detail .phots .slider .checker .tous ul { float:right; padding:0 11px 0 0;}
		.prod_detail .phots .slider .checker .tous ul li { float:left; padding:13px 2px 0 2px;}
		.prod_detail .phots .slider .checker .tous ul li a { display:block; width:16px; height:16px; background:url(/source/images/tous.png) 0 -32px;}
		.prod_detail .phots .slider .checker .tous ul li span { color:#fff; margin:0 30px 0 0;}
		.prod_detail .phots .slider .checker .tous ul li a:hover { background-position:0 -48px;}
		.prod_detail .phots .slider .checker .tous ul li a:active { background-position:0 -16px;}
		.prod_detail .phots .slider .checker .tous ul li a.active { background-position:0 -16px; cursor:default;}
		
		/* find a rep */
		.find_a_rep { width:940px; margin:0 auto; }
		.find_a_rep h1 { font-size:28px; font-weight:normal; color:#fff;}
		.find_a_rep form { }
		.find_a_rep form div { font-size:14px;}
		.find_a_rep .sel { width:223px; height:15px; margin:10px 0 10px 0; background:url(/source/images/find_per_sel.jpg) no-repeat; color:#fff; font-weight:bold; padding:6px 0 8px 13px;}
		.find_a_rep .info { color:#fff; padding:25px 0 0 0; }
		.find_a_rep .info div { float:left; width:285px; height:180px;}
		.find_a_rep .info div h2 { font-weight:normal; font-size:16px;}
		.find_a_rep .info div h3 { font-weight:normal; color:#666; font-size:14px;}
		.find_a_rep .info div p { padding:10px 0;}
		.find_a_rep .info div a { color:#c2181e; font-size:12px;}
		
		/* contact us */
		.contact_us { width:940px; margin:0 auto; padding:30px 0 0 0; color:#fff;}
		.contact_us h1 { font-size:28px; font-weight:normal; color:#fff;}
		.contact_us .btn { display:block; width:124px; height:17px; margin:10px 0 30px 0; background:url(/source/images/contact_us_btn.jpg) no-repeat #fff; color:#fff; font-weight:bold; padding:6px 0 8px 33px;}
		.contact_us .user { width:445px; float:left; background:url(/source/images/user_bg.jpg) no-repeat bottom right; padding:0 0 20px 0;}
		.contact_us .user.odd { float:right;}
		.contact_us .user img { float:left; margin:0 20px 0 0;}
		.contact_us .user h2 { font-weight:normal; font-size:18px;}
		.contact_us .user h3 { font-weight:normal; color:#666; font-size:14px;}
		.contact_us .user p { padding:10px 0;}
		.contact_us .user a { color:#c2181e; font-size:13px;}
		
		/* rep_content_pae */
		.rep_content_page { }
		
		.rep_content_page .left_side { width:250px; float:left; color:#fff;}
		.rep_content_page .left_side .content_name { font-size:27px; background:url(/source/images/rep_content_h.jpg) no-repeat left bottom; padding:20px 0 20px 26px;}
		.rep_content_page .left_side .accord { padding:20px 0 0 22px; }
		.rep_content_page .left_side .accord ul { }
		.rep_content_page .left_side .accord ul li { text-transform:uppercase;}
		.rep_content_page .left_side .accord ul li.selected_class ul { display:block;}
		.rep_content_page .left_side .accord ul li span { font-size:17px; background:url(/source/images/rep_content_arr.jpg) no-repeat 0 5px; padding:0 0 5px 15px; display:block; cursor:pointer;}
		.rep_content_page .left_side .accord ul li span:hover { color:#838383;}
		.rep_content_page .left_side .accord ul li a { color:#fff; cursor:pointer;}
		.rep_content_page .left_side .accord ul li a:hover { color:#838383;}
		.rep_content_page .left_side .accord ul li a.active { color:#c2181e;}
		.rep_content_page .left_side .accord ul li ul { padding:0 0 10px 15px; font-size:14px; display:none;}
		.rep_content_page .left_side .accord ul li ul li { padding:1px 0;}
		.rep_content_page .left_side .accord ul li ul li a { color:#838383; font-size:14px;}
		.rep_content_page .left_side .accord ul li ul li a:hover { color:#c2181e;}
		.rep_content_page .left_side .accord ul li ul li a.selected { color:#c2181e;}
		
		.rep_content_page .right_side { float:left; padding:23px 0 0 0; color:#fff;}
		.rep_content_page .right_side hr { border:none; border-bottom:1px solid #fff; margin:10px 0;}
		.find_res { color:#fff;}
		.find_res.back_end { padding:0 0 0 35px;}
		.find_res .h { font-size:18px; text-transform:uppercase;}
		.find_res form { }
		.find_res form div { }
		.find_res form div .inp { width:290px; font-size:14px; padding:5px 10px;}
		.find_res table { text-align:center; font-size:13px; width:700px;}
		.find_res table tr { }
		.find_res table tr th { border:1px solid #fff; background:#6d0c10; padding:5px 15px;}
		.find_res table tr td { border:1px solid #fff; padding:5px 15px;}
		.find_res table tr.odd { background:#2d2d2d;}
		.find_res table tr .id { display:none;}
		.find_res table tr td input { border:none; border-bottom:1px solid #fff; background:none; color:#fff;}
		
		 table tr td .super { border:1px solid #fff; background:#6d0c10; padding:5px 15zzzzzpx;}
		
		.add_new_project { width:421px; float:left;}
		.add_new_project .bor { border-bottom:1px solid #666; padding:0 0 5px 0;}
		.add_new_project form { }
		.add_new_project form div { padding:5px 0; position:relative;}
		.add_new_project form div label { width:195px; float:left; padding:5px 15px 0 0; text-align:right;}
		.add_new_project form div input { border:1px solid #86888b; font-size:14px; padding:2px 5px; width:199px;}
		
		.notes { width:421px; float:right; margin:0 22px 0 0;}
		.notes .bor { border-bottom:1px solid #666; padding:0 0 5px 0;}
		.notes .p1 { float:left;}
		.notes .p2 { float:right; font-size:13px; }
		.notes .p2 img { display:inline; vertical-align:bottom; margin:0 0 0 10px; cursor:pointer;}
		.notes .note { border-bottom:1px solid #808080; padding:6px 0;}
		.notes .note .date { float:left; color:#b5b5b5;}
		.notes .note .text { float:right; font-size:13px;}
		.notes .note .text a { color:#fff; border-bottom:1px dotted #fff;}
		.notes .note .text a:hover { border-bottom:none;}
		
		.note_detail {}
		.note_detail .date { color:#b5b5b5; padding:10px 0;}
		.note_detail p {}
		.note_detail .next_prev { padding:20px 0 10px 0; text-align:center; border-bottom:1px solid #808080;}
		.note_detail .next_prev img { display:inline; vertical-align:middle; margin:0 5px;}
		.note_detail .next_prev a { text-transform:uppercase; color:#fff;}
		.note_detail .next_prev a:hover span { text-decoration:underline;}
		
		.btns { text-align:center; text-transform:uppercase;}
		.btns a.btn { display:inline-block; background:url(/source/images/btn2.jpg) no-repeat; color:#fff; font-weight:bold; text-align:center; width:104px; padding:9px 0; margin:0 5px;}
		
		.attach { }
		.attach .p1 { float:left;}
		.attach .p2 { float:right; font-size:14px; }
		.attach .p2 img { display:inline; vertical-align:bottom; margin:0 0 0 10px; cursor:pointer;}
		.attach .files { }
		.attach .files .file { border-bottom:1px solid #808080; padding:0;}
		.attach .files .file .type { float:left; }
		.attach .files .file .type a { color:#fff;}
		.attach .files .file .type a:hover { text-decoration:underline;}
		.attach .files .file .type img { display:inline; vertical-align:middle;}
		.attach .files .file .date { float:right; padding:7px 0 0 0; color:#b5b5b5;}
		
		.map_canvas { width: 697px; height: 250px; float:left;}
		.addrs { width: 243px; height: 250px; float:left; background:#fff;}
		.adr { width: 243px; height: 125px; position:relative;}
		.adr div { padding:20px 0 0 20px; cursor:pointer; height: 125px; position:relative;}
		.adr div .arr { position:absolute; top:-2px; left:-14px; display:none;}
		.adr div h1 { color:#a6a6a6; font-weight:normal; text-transform:uppercase; font-size:16px; padding:0 0 5px 0;}
		.adr div p { color:#d5d5d5; font-size:13px; padding:0 0 5px 0;}
		.adr div a { color:#c2181e; font-size:10px; text-transform:uppercase;}
		.adr div a img { display:inline; margin:0 5px 0 0;}
		.adr div:hover { background:url(/source/images/adr_bg.gif) no-repeat;}
		.adr div:hover .arr { display:block;}
		.adr div:hover h1 { color:#c2181e;}
		.adr div:hover p { color:#000;}
		.adr div:hover a { color:#c2181e; font-size:10px; text-transform:uppercase;}
		.adr div:hover a img { display:inline; margin:0 5px 0 0;}
		
		.adr div.active { background:url(/source/images/adr_bg.gif) no-repeat;}
		.adr div.active .arr { display:block;}
		.adr div.active h1 { color:#c2181e;}
		.adr div.active p { color:#000;}
		.adr div.active a { color:#c2181e; font-size:10px; text-transform:uppercase;}
		.adr div.active a img { display:inline; margin:0 5px 0 0;}
		
		/* bread crumbs */
		.bread { color:#fff; padding:20px 0 0 20px; font-size:17px;}
		.bread span { color:#838383; }
		
		/* red shadow areas */
		.red_shadow_area { background:url(/source/images/red.jpg) repeat-y;}
		.red_shadow_area .inner { background:url(/source/images/red_shadow_bottom.jpg) no-repeat bottom;}
		.red_shadow_area .inner .in-inner { background:url(/source/images/red_shadow_top.jpg) no-repeat top; padding:0 52px 0 50px;}
		/*.red_shadow_area.h145 { background-position:0 -645px !important;}*/
		.red_shadow_area.h216 { background-position:0 -4715px !important;}
		.red_shadow_area.h213 { background-position:0px -4712px !important;}
		
	/* footer */
	.footer { background:url(/source/images/footer-bg.jpg) no-repeat 0 0; width:942px; margin:0 auto;}
	.footer p { color:#fff; text-align:center; padding:25px 0 25px 0;}
	
	
	/* auth_form */
	.auth_form { color:#fff; width:290px; margin:100px auto;}
	.auth_form form { padding:10px 0; background:#222121; border:2px solid #5a4242;}
	.auth_form form div { padding:5px 0;}
	.auth_form div.h { font-weight:bold; padding:0 42px 5px 0;}
	.auth_form form div label { font-weight:bold; width:95px; float:left; text-align:right; padding:0 10px 0 0;}
	.auth_form form div .inp { }
	.auth_form form div .inp { }
	.auth_form form div.submit { padding:5px 0 0 206px;}
	.auth_form form div.submit input { }

	
	#notes_list { width:421px; overflow:hidden; position:relative; display:none; float:right; margin:0 22px 0 0;}
	#notes_list .par { width:10000px; position:relative; top:0; left:0;}
	#notes_list .par .div { width:421px; float:left; }
	
	.contactBody {background:#000 url(/source/images/contact_bg.png) no-repeat center -115px;}
	.footer_contact {background:url(/source/images/footer_contact_bg.png) no-repeat;}
	.mapContact {background:url(/source/images/map_contact_bg.png) no-repeat; height:551px; position:relative; margin-top:7px;}
	.contactBody .red_shadow_area {background:none;}
	.contactBody  .red_shadow_area .inner {background:url(/source/images/red_shadow_top_bg.gif) center 0;}
	.contactBtn {display:block; width:76px; height:18px; padding:4px 0 0 22px; margin:7px 0 0; background:url(/source/images/contactBtn.gif) no-repeat; text-transform:uppercase; color:#fff; font-size:10px;}
	.weburl{ color:#C2181E;}
	
	.closeBtn {position:absolute; top:7px; right:7px; background:url(/source/images/closeBtn.gif) no-repeat; width:22px; height:22px;}
	
	.dragWindow {position:absolute; color:#000; font-family:"Droid Sans"; font-size:13px;}
	/*.dragWindow {position:absolute; width:363px; color:#000; font-family:"Droid Sans"; font-size:13px;}*/
	.dragWindow_top {height:30px; overflow:hidden; background:url(/source/images/drag_top_bg.png) no-repeat;}
	.dragWindow_bot {height:30px; overflow:hidden; background:url(/source/images/drag_bot_bg.png) no-repeat;}
	.dragWindow_mid {background-color: white; padding-top:13px;}
	.dragWindow_in_mid {background:url(/source/images/drag_mid_in_bg.gif) repeat-x 0 bottom; width:282px; margin:0 0 0 0;}
	/*.dragWindow_in_mid {background:url(/source/images/drag_mid_in_bg.gif) repeat-x 0 bottom; width:302px; margin:0 0 0 30px;}*/
	.dragWindow_in_top {padding:0 10px 14px 21px;}
	.dragWindow_in_top div {height:13px; overflow:hidden;}
	.dragWindow h1 {color:#c2181e; font-weight:normal; font-size:18px; margin-bottom:7px;}
	.scrollbar_out {position:relative; height:280px; overflow:hidden; width:273px;}
	/*.scrollbar_out {position:relative; height:280px; overflow:hidden; width:293px;}*/
	.dragWindow_in_bot {background:url(/source/images/scrollbar_out_bg.gif) repeat-x 0 0; padding-top:5px;}
	.scrollbar, .jScrollPaneTrack {background:url(/source/images/jScrollPaneTrack.gif) no-repeat 0 0; height:257px; position:absolute; right:0; top:13px !important; width:7px; z-index:100;}
	#scr, .jScrollPaneDrag {width:7px; height:36px; background:url(/source/images/drag.gif) no-repeat; cursor:pointer; position:absolute;}
	.jScrollArrowUp, .jScrollArrowDown {position:absolute; overflow:hidden; height:10px; width:16px; right:0; text-indent:-9999px; display:none;}
	.jScrollArrowDown {bottom:0;}
	.jScrollArrowUp {top:0;}
	/*.scrollbar_out li {width:239px; margin:0 0 0 8px; padding:11px 0 14px 11px; background:url(/source/images/scrollbar_out_li.gif) repeat-x 0 bottom;}*/
	.scrollbar_out li {width:257px; margin:0 0 0 0; padding:5px 0 5px 5px; background:url(/source/images/scrollbar_out_li.gif) repeat-x 0 bottom;}
	
	/*.contactL {float:left; width:58px; border:1px solid #aeaeae; margin:2px 14px 0 0;}*/
	.contactL {float:left; width:58px; border:1px solid #aeaeae; margin:2px 10px 0 0;}
	/*.contactR {float:left; width:163px;}*/
	.contactR {float:left; width:187px;}
	.contactR h2 {font-size:14px; font-weight:normal; padding-bottom:3px; font-family: sans-serif}
	.contactR div {height:3px; overflow:hidden;}
	.contactR .redText {color:#c2181e;}
	
	.pimp1 {position:absolute; top:212px; left:120px;}
	.pimp2 {position:absolute; top:167px; left:417px;}
	.pimp3 {position:absolute; top:224px; left:735px;}
	
	#event_calendar {
		color:#FFF;padding: 2em 4em 0 2.5em; line-height: 2em; font-size: 14px;
	}
	#event_calendar a:link,#event_calendar a:visited {
		color:#FFF; 
	}
  
  /* quickship */
  .quickship_top { 
     width:940px; 
     margin:0 auto; 
     height:232px;
     color:#eb1c22;
     font-family:Helvetica
    }	
  .quickship_top p {text-align: center;}
  .quickship_scroll_black { 
     width:940px; 
     margin:0 auto; 
     height:3028px;
     background: url("/source/images/quickship_scroll_black.png") no-repeat scroll center top transparent;   
     color:#eb1c22;
     font-family:Helvetica
    }	
  .quickship_scroll_red { 
     width:940px; 
     margin:0 auto; 
     height:0px;
     background: url("/source/images/quickship_scroll_red.png") no-repeat scroll center top transparent;   
     color:#eb1c22;
     font-family:Helvetica
     margin-top:0;
     padding-top:0;
    }
  .quickship_warehouse { 
     background: url("/source/images/quickship_warehouse.png") no-repeat scroll center top transparent;   
     color:#eb1c22;
     font-family:Helvetica;
     position:absolute; 
     top:475px; 
     left:480px;
     z-index:99;
     height:273px;
     width:458px;
    }
  .quickship_truck { 
     background: url("/source/images/quickship_truck_leer.png") no-repeat scroll center top transparent;   
     position:absolute; 
     top:668px; 
     left:420px;
     z-index:99;
     height:81px;
     width:124px;
    }
  .quickship_date { 
     background: url("/source/images/quickship_date0.png") no-repeat scroll center top transparent;   
     color:#eb1c22;
     font-family:Helvetica;
     position:absolute; 
     top:852px; 
     z-ndex:99;
     height:291px;
     width:480px;
    } 
  .quickship_date7 { 
     background: url("/source/images/quickship_date7.png") no-repeat scroll center top transparent;   
     position:absolute; 
     bottom:7px;
     right:110px; 
     height:296px;
     width:252px;
    } 
  .quickship_date6 { 
     background: url("/source/images/quickship_date6.png") no-repeat scroll center top transparent;   
     position:absolute; 
     bottom:7px;
     right:110px; 
     height:296px;
     width:252px;
    } 
  .quickship_date5 { 
     background: url("/source/images/quickship_date5.png") no-repeat scroll center top transparent;   
     position:absolute; 
     bottom:7px;
     right:110px; 
     height:296px;
     width:252px;
    }
  .quickship_date4 { 
     background: url("/source/images/quickship_date4.png") no-repeat scroll center top transparent;   
     position:absolute; 
     bottom:7px;
     right:110px; 
     height:296px;
     width:252px;
    }
  .quickship_date3 { 
     background: url("/source/images/quickship_date3.png") no-repeat scroll center top transparent;   
     position:absolute; 
     bottom:7px;
     right:110px; 
     height:296px;
     width:252px;
    }
  .quickship_date2 { 
     background: url("/source/images/quickship_date2.png") no-repeat scroll center top transparent;   
     position:absolute; 
     bottom:7px;
     right:110px; 
     height:296px;
     width:252px;
    }  
    .quickship_date1 { 
     background: url("/source/images/quickship_date1.png") no-repeat scroll center top transparent;   
     position:absolute; 
     bottom:7px;
     right:110px; 
     height:296px;
     width:252px;
    }
  .quickship_van { 
     background: url("/source/images/quickship_van.png") no-repeat scroll center top transparent;   
     position:absolute; 
     top:1078px; 
     left:440px;
     z-index:99;
     height:71px;
     width:144px;
    }  
  .quickship_map_black { 
     background: url("/source/images/quickship_map_black.png") no-repeat scroll transparent;  
     background-position:190px 50px; 
     position:absolute; 
     top:1288px; 
     left:465px;
     z-index:99;
     height:300px;
     width:581px;
    } 
  .quickship_map_red { 
     background: url("/source/images/quickship_map_red.png") no-repeat scroll transparent;  
     background-position:190px 50px; 
     position:absolute; 
     top:1288px; 
     left:465px;
     z-index:100;
     height:300px;
     width:581px;
     opacity:0;
    } 
  .quickship_flag { 
     background: url("/source/images/quickship_flag.png") no-repeat scroll center top transparent;   
     position:absolute; 
     top:130px; 
     left:150px;
     z-index:99;
     opacity:0;
     height:49px;
     width:44px;
    } 
  .quickship_lamp { 
     background: url("/source/images/quickship_lamp_bg.png") no-repeat scroll transparent; 
     background-position:10px 0px; 
     position:absolute; 
     top:1558px; 
     height:430px;
     width:550px;
     color:#eb1c22;
     font-family:Helvetica;
    }  
  .quickship_lamp_black { 
     background: url("/source/images/quickship_lamp_black.png") no-repeat scroll transparent;  
     position:absolute;
     left:170px; 
     top:1558px; 
     height:310px;
     width:158px;
     z-index:100;
    } 
  .quickship_lamp_red { 
     background: url("/source/images/quickship_lamp_red.png") no-repeat scroll transparent;  
     position:absolute;
     left:155px; 
     top:1559px; 
     height:310px;
     width:180px;
     z-index:99;
     opacity:0
    } 
  .quickship_lamp_light { 
     background: url("/source/images/quickship_lamp_light.png") no-repeat scroll transparent;  
     position:absolute;
     left:155px; 
     top:1564px; 
     height:310px;
     width:180px;
     z-index:98;
     opacity:0
    }
  .quickship_assembly { 
     background: url("/source/images/quickship_assembly_bg.png") no-repeat scroll transparent;  
     background-position:-100px 20px; 
     position:absolute; 
     top:1963px; 
     left:460px;
     height:300px;
     width:581px;
    }
  .quickship_assembly1 { 
     background: url("/source/images/quickship_assembly1.png") no-repeat scroll center top transparent;  
     position:absolute; 
     top:20px; 
     right:102px;
     height:328px;
     width:574px;
     z-index:100;
    } 
  .quickship_assembly2 { 
     background: url("/source/images/quickship_assembly2.png") no-repeat scroll center top transparent;  
     position:absolute; 
     top:19px; 
     right:102px;
     height:328px;
     width:574px;
     z-index:98;
     opacity:0;
    }
  .quickship_assembly3 { 
     background: url("/source/images/quickship_assembly3.png") no-repeat scroll center top transparent;  
     position:absolute; 
     top:20px; 
     right:98px;
     height:328px;
     width:574px;
     z-index:97;
     opacity:0;
    }  
  .quickship_assembly4 { 
     background: url("/source/images/quickship_assembly4.png") no-repeat scroll center top transparent;  
     position:absolute; 
     top:20px; 
     right:102px;
     height:328px;
     width:574px;
     opacity:0;
    }   
  .quickship_tools { 
     background: url("/source/images/quickship_tools_bg.png") no-repeat scroll transparent; 
     background-position:0px 0px; 
     position:absolute; 
     top:2218px;
     height:430px;
     width:550px;
    } 
  .quickship_tools2 { 
     background: url("/source/images/quickship_tools2.png") no-repeat scroll transparent;  
     position:absolute; 
     top:120px;
     left:90px;
     height:56px;
     width:86px;
     opacity:0;
    }  
  .quickship_tools3 { 
     background: url("/source/images/quickship_tools3.png") no-repeat scroll transparent;  
     position:absolute; 
     top:150px;
     left:90px;
     height:58px;
     width:113px;
     opacity:0;
    }
  .quickship_tools4 { 
     background: url("/source/images/quickship_tools4.png") no-repeat scroll transparent;  
     position:absolute; 
     top:160px;
     left:160px;
     height:8px;
     width:32px;
     opacity:0;
    }
  .quickship_tools5 { 
     background: url("/source/images/quickship_tools5.png") no-repeat scroll transparent;  
     position:absolute; 
     top:170px;
     left:160px;
     height:20px;
     width:29px;
     opacity:0;
    }
    .quickship_tools6 { 
     background: url("/source/images/quickship_tools6.png") no-repeat scroll transparent;  
     position:absolute; 
     top:160px;
     left:200px;
     height:32px;
     width:8px;
     opacity:0;
    }
  .quickship_design { 
     position:absolute; 
     top:2663px; 
     left:400px;
     height:300px;
     width:581px;
    }  
   .quickship_liste{
     list-style-type:square;
     margin-bottom:9px;
   }
  .quickship_design_photo1 { 
     background: url("/source/images/quickship_photo1.png") no-repeat scroll transparent; 
     position:absolute; 
     top:155px;
     left:370px;
     height:136px;
     width:136px;
    } 
  .quickship_design_photo2 { 
     background: url("/source/images/quickship_photo2.png") no-repeat scroll transparent; 
     position:absolute; 
     top:340px;
     left:290px;
     height:136px;
     width:136px;
    } 
  .quickship_design_photo3 { 
     background: url("/source/images/quickship_photo3.png") no-repeat scroll transparent; 
     position:absolute; 
     top:250px;
     left:200px;
     height:136px;
     width:136px;
    }  
  .quickship_end_red { 
     background: url("/source/images/quickship_end_red.png") no-repeat scroll transparent; 
     position:absolute; 
     bottom:170px;
     left:410px;
     height:50px;
     width:223px;
     text-align: center;  
     font-size:13px;
     color:#FFFFFF
    } 
  .quickship_end_red a:link { color:#FFFFFF; text-decoration:none; }
  .quickship_end_red a:visited { color:#FFFFFF; text-decoration:none; }
  .quickship_end_reda:focus { color:#FFFFFF; text-decoration:none; }
  .quickship_end_red a:hover { color:#FFFFFF; text-decoration:none; }
  .quickship_end_red a:active { color:#FFFFFF; text-decoration:none; } 
                
  .quickship_fontbig {
      font-size:30px;
   }
  .quickship_banner {
      font-size:30px;
      float:left;
      background-color: #eaeaea; 
      padding:0; height:168px;
      width:619px; 
      color: #EB1C22; 
      font-family: Helvetica;      
   }
  .quickship_banner_black {
      background-color: #000000; 
      padding:0; 
      height:168px;
      width:651px; 
      position:absolute;
      z-index:99;
      left:-600px    
   }   