
<div id="app">
  <div class="sidetap">
    <div class="stp-nav">
      <div>
        <nav></nav>
      </div>
      <div id="nav-bottom" class="nav-bottom"><span><a href="http://www.archltgworks.com?nomo">Full Site</a></span><span>&copy; 2013 Architectural Lighting Works</span></div>
    </div>
    <div id="content" class="stp-content">
      <header class="stp-fake-header"></header>
      <div class="stp-overlay nav-toggle"> </div>
      <div class="stp-content-panel">
        <header><a href="javascript:void(0)" class="header-button icon menu"><span>Menu</span></a>
          <div id="logo"></div>
        </header>
        <div class="content stp-content-frame">
          <div class="scrollNav">
            <div id="page-content" class="stp-content-body scrollNav"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>