
<div id="all-products" class="row">{{#each objects}}
  <div style="background:url('http://www.archltgworks.com/source/images/site_images/preview/{{p_image1}}'); background-size: 100%;" data-id="{{products_id}}" class="product">
    <div class="product-caption">
      <h4>{{p_name}}</h4>
    </div>
  </div>{{/each}}
</div>