
<div id="product">
  <div id="product-carousel" class="carousel slide"></div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{{p_name_ex}}}</h1>
      <p>{{{p_desc}}}</p>
      <p style="text-align: center"><a href="http://www.archltgworks.com/source/files/main_files/{{p_download}}" target="_BLANK" class="btn btn-default">Download Spec Sheet</a></p>
      <p style="text-align: center"><a href="http://www.archltgworks.com/source/files/main_files/{{p_install}}" target="_BLANK" class="btn btn-default">Installation Instructions</a></p>
    </div>
  </div>
</div>