
<div id="all-products" class="row">{{#each data}}
  <div style="background:url('http://archltgworks.com/source/images/site_images/preview/{{p_image1}}'); background-size: cover;" data-id="{{products_id}}" class="product-category">
    <div class="product-caption">
      <h4>{{p_name}}</h4>
    </div>
  </div>{{/each}}
</div>