
<div id="quickship" class="content">
  <div id="header">
    <div id="banner"></div>
  </div>
  <div class="row">
    <div style="text-align: center; margin-top: 20px; margin-bottom: 20px;" class="col-xs-12"><span id="view-quickship" class="btn btn-danger">View Quick Ship Products</span></div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-4"><img src="resources/images/qs_03.png"/></div>
        <div class="col-xs-8">
          <h2>In Stock &amp; Ready To Ship</h2>
          <p>Pre-assembled, and ready to install.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-4"><img src="resources/images/qs_07.png"/></div>
        <div class="col-xs-8">
          <h2>5-7 Day Turn Around</h2>
          <p>Keep projects on time and running smoothly.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-4"><img src="resources/images/qs_09.png"/></div>
        <div class="col-xs-8">
          <h2>Canada Ready</h2>
          <p>Complete with Canadian quick connect hardware</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-4"><img src="resources/images/qs_11.png"/></div>
        <div class="col-xs-8">
          <h2>Plug &amp; Play</h2>
          <p>Simple &quot;plug-and-play&quot; technology.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-4"><img src="resources/images/qs_13.png"/></div>
        <div class="col-xs-8">
          <h2>Assembly</h2>
          <p>Units can be individual</p>( stand-alone ), or easily connected for continuous row mounting in field.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-4"><img src="resources/images/qs_15.png"/></div>
        <div class="col-xs-8">
          <h2>Tools</h2>
          <p>All installation hardware included: lens removal tool, phillips screwdriver, joiner hardware.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-4"><img src="resources/images/qs_17.png"/></div>
        <div class="col-xs-8">
          <h2>Design</h2>
          <ul>
            <li>Durable powder coat paint finish.</li>
            <li>High performance reflectors for maximum light output and minimal lamp outage.</li>
            <li>Satin white opal diffusers.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>