<span data-href="rep/login" class="block">
  <div data-href="rep/login" class="btn-nav">Rep Login</div></span><span data-href="products">Products</span><span data-href="quickship">QuickShip</span><span data-href="find">Find a Rep</span><span data-href="events">Events</span><span data-href="contact">Contact Us</span>