div#app
    .sidetap
        .stp-nav
            div
              nav
            div.nav-bottom#nav-bottom
                span
                    a(href="http://www.archltgworks.com?nomo") Full Site
                span &copy; 2013 Architectural Lighting Works
                
        div#content.stp-content
            header.stp-fake-header
            .stp-overlay.nav-toggle  
            .stp-content-panel
                header
                    a.header-button.icon.menu(href='javascript:void(0)')
                        span Menu
                    #logo
                .content.stp-content-frame
                    .scrollNav
                        .stp-content-body#page-content.scrollNav
    