#product
    #product-carousel.carousel.slide


    div.row
        div.col-xs-12
            h1 {{{p_name_ex}}}
            p {{{p_desc}}}
            p(style="text-align: center")
                a.btn.btn-default(href="http://www.archltgworks.com/source/files/main_files/{{p_download}}", target="_BLANK") Download Spec Sheet
            p(style="text-align: center")
                a.btn.btn-default(href="http://www.archltgworks.com/source/files/main_files/{{p_install}}", target="_BLANK") Installation Instructions