#quickship.content
    #header
        #banner
        
    .row
        .col-xs-12(style="text-align: center; margin-top: 20px; margin-bottom: 20px;")
            span.btn.btn-danger#view-quickship View Quick Ship Products
        
    .row
        .col-xs-12
            .row
                .col-xs-4
                    img(src="resources/images/qs_03.png")
                .col-xs-8
                    h2 In Stock &amp; Ready To Ship
                    p Pre-assembled, and ready to install.
    .row
        .col-xs-12
            .row
                .col-xs-4
                    img(src="resources/images/qs_07.png")
                .col-xs-8
                    h2 5-7 Day Turn Around
                    p Keep projects on time and running smoothly.

    .row
        .col-xs-12
            .row
                .col-xs-4
                    img(src="resources/images/qs_09.png")
                .col-xs-8
                    h2 Canada Ready
                    p Complete with Canadian quick connect hardware
    
    .row
        .col-xs-12
            .row
                .col-xs-4
                    img(src="resources/images/qs_11.png")
                .col-xs-8
                    h2 Plug &amp; Play
                    p Simple &quot;plug-and-play&quot; technology.
                                
    .row
        .col-xs-12
            .row
                .col-xs-4
                    img(src="resources/images/qs_13.png")
                .col-xs-8
                    h2 Assembly
                    p Units can be individual
                    | ( stand-alone ), or easily connected for continuous row mounting in field.

    .row
        .col-xs-12
            .row
                .col-xs-4
                    img(src="resources/images/qs_15.png")
                .col-xs-8
                    h2 Tools
                    p All installation hardware included: lens removal tool, phillips screwdriver, joiner hardware.


    .row
        .col-xs-12
            .row
                .col-xs-4
                    img(src="resources/images/qs_17.png")
                .col-xs-8
                    h2 Design
                    ul
                        li Durable powder coat paint finish.
                        li High performance reflectors for maximum light output and minimal lamp outage.
                        li Satin white opal diffusers.