#replogin
    form.form-signin
        h2.form-signin-heading Please sign in
          input.form-control.username(type='text', placeholder='Email address', autofocus='autofocus')
          input.form-control.password(type='password', placeholder='Password')
          button.btn.btn-lg.btn-primary.btn-block#signin(type='button') Sign in
