span.block
    span {{user}}
span(data-href='products') Products
span(data-href='quickship') QuickShip
span(data-href='find') Find a Rep
span(data-href='events') Events
span(data-href='contact') Contact Us
span(data-href='rep/status') Order Status
span(data-href='pricing') Pricing
span(data-href='led_info') LED Information