span.block(data-href='rep/login')
    .btn-nav(data-href='rep/login') Rep Login
span(data-href='products') Products
span(data-href='quickship') QuickShip
span(data-href='find') Find a Rep
span(data-href='events') Events
span(data-href='contact') Contact Us